{% extends "auctions/layout.html" %}

{% load humanize %}

{% block body %}
    <h2>Active Listings</h2>

    <table class="table table-hover">
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Decription</th>
            <th scope="col">Current Price</th>
            <th scope="col">Photo</th>
            <th scope="col">Status</th>
        </tr>
        {% for listing in listings %}
            <tr {% if not listing.is_active %}
                    class="table-secondary"
                {% endif %}
            >
                <td><a href="{% url 'listing' listing.id %}"><button type="button" class="btn btn-outline-primary">View</button></a></td>
                <td>{{ listing.title }}</td>
                <td>{{ listing.description }}</td>
                <td>{{ listing.current_price|intcomma }} €</td>
                {% if listing.image_url %}
                    <td><a href="{{ listing.image_url }}" target="_blank"><img style="height: 50px; width: auto; border-radius: 5px;" src="{{ listing.image_url }}" alt="image of a listing item"></a></td>
                {% else %}
                    <td>No Image</td>
                {% endif %}
                <td>
                    {% if listing.is_active %}
                        Active
                    {% else %}
                        Closed
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}