{% extends "auctions/layout.html" %}

{% load humanize %}

{% block body %}

    <!-- listing info -->
    <div class="container">
        <div class="row">
            <p><b>Title:</b> {{ listing.title }}</p>
        </div>
        <div class="row">
            <p><b>Description:</b> {{ listing.description }}</p>
        </div>
        <div class="row">
            <p><b>Price:</b> {{ listing.current_price|intcomma }} €</p>
        </div>
        {% if not listing.initial_price == listing.current_price %}
            <div class="row">
                <p><b>Initial price:</b> {{ listing.initial_price|intcomma }} €</p>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            {% if listing.image_url %}
                <a href="{{ listing.image_url }}" target="_blank"><img style="height: 200px; width: auto; border-radius: 5px;" src="{{ listing.image_url }}" alt="{{ listing.description }}"></a>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'toggle_watchlist' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            {% if listing in user.watchlist.all %}
                <button class="btn btn-outline-danger">Remove from Watchlist</button>
            {% else %}
                <button class="btn btn-outline-primary">Add to Watchlist</button>
            {% endif %}
        </form>
    {% endif %}

    <h4>Comments</h2>

    <!-- new comment form -->
    {% if user.is_authenticated %}
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ comment_form }}
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-primary" type="submit" name="submit_comment">Send</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <p>To add a comment you must be logged in.</p>
    {% endif %}

    <!-- comments -->
    <div class="container">
        <div class="row">
            {% for comment in comments %}
                <p><b>{{ comment.author }}:</b> {{ comment.content }} ({{  comment.created_at }})</p>
            {% empty %}
                <p>No comments.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}