{% extends "auctions/layout.html" %}

{% load humanize %}

{% block body %}

    <!-- listing info -->
    <div class="container">
        <div class="row">
            <p><b>Title:</b> {{ listing.title }}</p>
        </div>
        <div class="row">
            <p><b>Description:</b> {{ listing.description }}</p>
        </div>
        <div class="row">
            <p><b>Price:</b> {{ listing.current_price|intcomma }} €</p>
        </div>
        {% if not listing.initial_price == listing.current_price %}
            <div class="row">
                <p><b>Initial price:</b> {{ listing.initial_price|intcomma }} €</p>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            {% if listing.image_url %}
                <a href="{{ listing.img_url }}"></a><img style="height: 200px; width: auto; border-radius: 5px;" src="{{ listing.image_url }}" alt="{{ listing.description }}">
            {% endif %}
        </div>
    </div>

    <!-- new comment form -->
    {% if user.is_authenticated %}
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            {{ form }}
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-primary" type="submit">Create</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <p>To add a comment you must be logged in.</p>
    {% endif %}

    <!-- comments -->
    <div class="container">
        <div class="row">
            {% for comment in comments %}
                <p><b>{{ comment.author }}:</b> {{ comment.content }} ({{  comment.created_at }})</p>
            {% empty %}
                <p>No comments.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}